<div class="panel panel-default">
  <div class="panel-body">

  <!-- Nav tabs -->
  <ul class="nav nav-tabs" role="tablist">
    <li role="presentation" class="active"><a href="#graph{{ index }}" aria-controls="graph{{ index }}" role="tab" data-toggle="tab">Graph</a></li>
    <li role="presentation"><a href="#data{{ index }}" aria-controls="data{{ index }}" role="tab" data-toggle="tab">Données</a></li>
    <li role="presentation" style="float: right;"><span class="correlation"></span></li>
  </ul>

  <!-- Tab panes -->
  <div class="tab-content tab-content-custom">
    <div role="tabpanel" class="tab-pane active graph" id="graph{{ index }}"><div id="graph"></div></div>
    <div role="tabpanel" class="tab-pane data" id="data{{ index }}">
      <form id="select">
        <input type="hidden" class="file" name="file">
        <input type="hidden" class="ponderation" name="ponderation">
        <select name="spectacle" onchange="displayNeighbours()">
        {{#each spectacles}}
        <option value="{{ this.id }}">
          {{ this.name }}
        </option>
        {{/each}}
      </select>
      <input type = "submit" />
    </form>
    <div class="spect"></div>
    </div>
  </div>

  </div>
</div>